.arrow {
	margin-left: 0px !important;
}

#wpfooter {
	display: none;
}

.rmd-editor {
	position: relative;
	width: 100%;
}

#wpbody-content {
    position: absolute;
	width: 100%;
}

#code-html {
	position: relative;
	width: 100%;
}

#right-metabox {
	position: absolute;
	left: 80%;
	width: 20%;
	top: 0px;
}

.submitbox {
	position: relative;
	width: 100%;
	top:0px;
}

#post-formats-select {
	position: relative;
	width: 100%;
}

#editor-title {
	position: relative;
	width: 80%;
}




#editSection {
	box-sizing: border-box;
	height: 600px;
	/* to show submit buttom*/
	width: 80%;
	top: 0px;
}
