name: PHP Composer

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Git Clone this repo
        uses: actions/checkout@v2.3.4
        with:
          ref: main
    
      - name: Setup Mariadb
        run: |
          curl -LsS https://downloads.mariadb.com/MariaDB/mariadb_repo_setup | sudo bash
          sudo apt update
          sudo apt-get install -y mariadb-server
          sudo systemctl start mariadb
          sudo mysql -uroot -proot -e 'create database wptest;'
          sudo mysql -uroot -proot -e "CREATE USER 'wptest'@'%' IDENTIFIED BY 'wptest';"
          sudo mysql -uroot -proot -e "GRANT ALL ON wptest.* TO 'wptest'@'%';"
      
      - name: PHP Composer
        uses: baschny/php-composer-action@1.0
        with:
          command: install
      
      - name: Yarn Install
        uses: Jaid/action-npm-install@v1.2.4
        with:
          packageManager: yarn
      
      - name: Pre Test
        run: |
          mkdir -p tests/code_coverage/
      
      - name: Test
        run: |
          php vendor/bin/phpunit --log-junit  tests/code_coverage/phpunit.xml 
      
      - name: Post Test
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: SonarSource/sonarcloud-github-action@v1.4
